.navbar.navbar-dark.navbar-expand-md.fixed-top.bg-dark {
  background-color: #000!important;
  /*opacity: 0.8;*/
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 13px;
}

.navbar-dark .navbar-nav .nav-link .apple-logo {
  font-size: 21px;
  line-height: 0;
}

.carding {
  margin: 0 auto;
  float: none;
  margin-bottom: 15px;
  margin-top: 15px;
  /*margin-left: 0;*/
  /*margin-right: 0;*/
}

